<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" type="text/css" href="/index.css"></head>
<body>
<div th:fragment="header">
    <header>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/books/}">Books</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/}">Users</a>
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Logout">
            </form>
        </nav>
    </header>
</div>
</body>
</html>
