<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo App</title>
</head>
<body>
<h1 th:text="${course.id == 0 ? 'New Course' : 'Edit Course'}"></h1>

<form method="post" th:action="@{/courses/save}" th:object="${course}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"><br>

    Lecturer:
    <select th:field="*{lecturer}">
        <option th:each="lec: ${lecturers}"
                th:value="${lec.id}" th:text="${lec.name}"></option>
    </select>
    <input type="submit" value="Save">
</form>

</body>
</html>