<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo App</title>
</head>
<body>
<h1 th:text="${course != null ? 'Do you really want to delete course: '
                            + course.name : 'Course not found.'}"></h1>

<form th:if="${course != null}" method="post"
      th:action="@{'/courses/' + ${course.id} + '/delete'}">

    <input type="submit" value="Yes, delete!">
    <a th:href="@{'/courses/' + ${course.id}}">No</a>

</form>

<a th:if="${course == null}" th:href="@{/courses/}">Back to Course List</a>

</body>
</html>