<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo App</title>
</head>
<body>
<h1 th:text="${lecturer != null ? 'Do you really want to delete lecturer: '
                            + lecturer.name : 'Lecturer not found.'}"></h1>

<form th:if="${lecturer != null}" method="post"
      th:action="@{'/lecturers/' + ${lecturer.id} + '/delete'}">

    <input type="submit" value="Yes, delete!">
    <a th:href="@{'/lecturers/' + ${lecturer.id}}">No</a>

</form>

<a th:if="${lecturer == null}" th:href="@{/lecturers/}">Back to Lecturer List</a>

</body>
</html>