<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reading list</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<h1 th:text="${user != null ? 'user: ' + user.name : 'user not found.'}"></h1>

<a th:if="${user != null}" th:href="@{'/users/' + ${user.id} + '/edit'}">Edit user</a>
<a th:if="${user != null}" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete user</a>

<a th:if="${user == null}" th:href="@{/users/}">Back to user List</a>

</body>
</html>