<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reading list</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<h1 th:text="${user.id == 0 ? 'New User' : 'Edit User'}"></h1>

<form method="post" th:action="@{/users/save}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    Username: <input type="text" th:field="*{name}">
    Password: <input type="text" th:field="*{password}">
    Role:  <select th:field="*{role}">
    <option th:value="Admin" th:text="Admin"></option>
    <option th:value="User" th:text="User"></option>
</select>
    <input type="submit" value="Save">
</form>

</body>
</html>